.section__banner {
  background-color: transparent;
  .section__wrapper {
    padding: rem(20px);
  }

  .section__title {
    color: #fff;
    margin: 0;
    line-height: 1.2;
  }

  .section__description {
    color: #fff;
    font-size: rem(22px);
    font-style: italic;
    padding: 1rem 0;
  }
}
