
.section__banner--circlebg {
  background-color: get-color(blue, 4);
  overflow: hidden;
  @include breakpoint(838px, $no-query: true) {
  }
  .section__text {
    color: get-color(white, 0);
    line-height: 1.25;
    font-size: rem(30px);
    margin: 0;
    @include breakpoint(838px, $no-query: true) {
      font-size: rem(36px);
    }

  }
  .photo-circle {
    float: right;
    margin: 0;
    bottom: -30%;
  }
  .section__wrapper {
    display: flex;
    flex-flow: row wrap;
  }
  .section__col {
    flex: 1 0 300px;
    &:first-child {
      align-self: center;
      padding-top: 2em;
      @include breakpoint(838px, $no-query: true) {
        padding-top: 0;
      }
    }
  }
}
