.section--fifty-fifty {

  .section__wrapper {
  }

  .section__column--pic {
    background-size: cover;
    background-position: 50% 50%;
    min-height: 300px;
    @include breakpoint(960px, $no-query: true) {
      min-height: 500px;
    }
  }

  .section__column {

  }

  .section__text-wrapper {
    padding: 2em 0;
  }

  .section__headline {
    color: get-color( orange, 0);
    font-size: rem(36px);
    margin-bottom: rem(38px);
  }

  .section__blurb {
    font-size: rem(22px);
    line-height: rem(30px);
  }

  .section__subheader {
    color: get-color( blue, 2 );
    font-size: rem(28px);
    line-height: rem(36px);
  }

}
