.section__filter-tabs {
  .section__inner {
    background-color: #FFF;
    box-shadow: 8px 17px 14px -10px #000;
    padding: rem(20px);
  }
  .md-tab {
    span {
      padding: 10px;
      &:before {
        content: "** ";
        display: block;
        float: left;
      }
    }
    &.md-active {
      border-bottom: 10px yellow dotted;
    }
  }
  md-tabs-content-wrapper {
    border-top: 3px solid #CCC;
  }
  md-ink-bar {
    color: $orange !important;
    background-color: $orange !important;
    height: 8px;
  }

  md-pagination-wrapper {
    width: 100% !important;
  }

}
