<div class="section section__banner--circlebg">
  <div class="layout-constrain">
    <div class="section__wrapper">
      <div class="section__col">
        <h2 class="section__text">We advance a diverse, dynamic early childhood profession. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta, ut?</h2>
      </div>
      <div class="section__col">{% include "components-photo-circle" %}</div>
    </div>
  </div>
</div>
