<div class="section section__banner">
  <div class="layout-constrain">
    <div class="section__wrapper">
      <h1 class="section__title">Advance your Professional Education</h1>
      <div class="section__description">Find a degree that's right for you, search the directory</div>
    </div>
  </div>
</div>
