<div class="section section--fifty-fifty">
  <div class="section__wrapper" layout="column" layout-gt-sm="row" layout-align="center center">
    <div class="section__column--pic" style="background-image: url({{ fiftyFifty.src }});" layout-fill flex="50">
    </div>
    <div class="section__column" flex="50">
      <div class="layout-constrain--half">
        <div class="section__text-wrapper">
          <div class="section__headline"><h2>{{ fiftyFifty.headline }}</h2></div>
          <div class="section__blurb"><p>{{ fiftyFifty.description }}</p></div>
          <div class="section__subheader"><h4>{{ fiftyFifty.subheader }}</h4></div>
        </div>
      </div>
    </div>
  </div>
</div>
