<div class="section section--fifty-fifty">
  <div class="section__wrapper" layout="column" layout-gt-sm="row" layout-align="center center">
    <div class="section__column--pic" style="background-image: url({{ fiftyFifty.image }});" layout-fill flex="50">
    </div>
    <div class="section__column" flex="50">
      <div class="layout-constrain--half">
        <div class="section__text-wrapper">
          <h2 class="section__headline">{{ fiftyFifty.headline }}</h2>
          <p class="section__blurb">{{ fiftyFifty.description }}</p>
          <h4 class="section__subheader">{{ fiftyFifty.subheader }}</h4>
        </div>
      </div>
    </div>
  </div>
</div>
