<!-- Check Documentation here
https://material.angularjs.org/latest/api/directive/mdTabs -->

<div class="section section__filter-tabs">
  <div class="layout-constrain">
    <div class="section__inner">
      <md-tabs>
        <md-tab>
          <md-tab-label>
            Tab 1
          </md-tab-label>
          <md-tab-body>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta explicabo cum sed nemo, voluptatum culpa ea dolore corporis voluptates incidunt, itaque quidem. Natus veniam itaque ullam ab, nisi ex hic.
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            Tab 2
          </md-tab-label>
          <md-tab-body>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta explicabo cum sed nemo, voluptatum culpa ea dolore corporis voluptates incidunt, itaque quidem. Natus veniam itaque ullam ab, nisi ex hic.
          </md-tab-body>
        </md-tab>
        <md-tab>
          <md-tab-label>
            Tab 3
          </md-tab-label>
          <md-tab-body>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta explicabo cum sed nemo, voluptatum culpa ea dolore corporis voluptates incidunt, itaque quidem. Natus veniam itaque ullam ab, nisi ex hic.
          </md-tab-body>
        </md-tab>
      </md-tabs>
    </div>
  </div>
</div>
