<!-- Corresponds to hero.json -->
<section class="section section--hero" style="background-image: url({{ hero.image }});">
    <div class="layout-constrain">
        <div class="section__wrapper">
            <h1 class="section__title">
                {{ hero.title }}
            </h1>
            {% if hero.intro is defined %}
                <h2 class="section__subtitle">
                  {{ hero.intro|raw }}
                </h2>
            {% endif %}
        </div>
    </div>
</section>
