<div class="section section--stats">
  <div class="layout-constrain">
    <div class="section__wrapper" layout="row" layout-align="space-around center" layout-wrap>
      <div class="section__item" flex="auto">
        <div class="section__stat">936</div>
        <div class="section__description">Associate Degree Programs</div>
      </div>
      <div class="section__item" flex="auto">
        <div class="section__stat">1,123</div>
        <div class="section__description">Bachelor Programs</div>
      </div>
      <div class="section__item" flex="auto">
        <div class="section__stat">254</div>
        <div class="section__description">Master Programs</div>
      </div>
      <div class="section__item" flex="auto">
        <div class="section__stat">14</div>
        <div class="section__description">Doctoral</div>
      </div>
    </div>
  </div>
</div>
