<header class="header">
    <div class="layout-constrain">
        <div class="header__inner" layout="column" layout-gt-sm="row" layout-align="center center">
            <div class="header__logo" flex="50">Header Logo goes here</div>
            <div class="header__menu" flex="50">Hamburger</div>
        </div>
    </div>
</header>
