<header class="header">
    <div class="layout-constrain">
        <div class="header__inner">
            <div class="header__logo">Header Logo goes here</div>
            <div class="header__menu">Hamburger</div>
        </div>
    </div>
</header>
